@font-face {
  font-family: "Neue Montreal";
  font-weight: 200;
  src: url("assets/fonts/NeueMontreal-Light.otf") format("opentype");
}

@font-face {
  font-family: "Neue Montreal";
  font-weight: 400;
  src: url("assets/fonts/NeueMontreal-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Neue Montreal";
  font-style: italic;
  font-weight: 400;
  src: url("assets/fonts/NeueMontreal-MediumItalic.otf") format("opentype");
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #808080 #e6e6e6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  color: #1d1d1d;
  font-size: 1.1vw;
  font-family: "Neue Montreal";
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
  transition: 0.5s;
}

/* Navigation */
.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  height: 50px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar li {
  margin: 0px 10px;
}

nav ul li a {
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #1d1d1d;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* Home */
.home_page {
  top: 0;
  padding: 0% 25%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#Home > * {
  width: 50%;
  text-align: center;
}

.home_page_name {
  font-size: 3.3vw;
  font-family: "Neue Montreal";
  font-weight: 200;
}

/* About */
.about_page {
  top: 0;
  padding: 0% 25%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.about_page_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.about_page_header {
  font-size: 3.3vw;
  font-weight: 200;
  letter-spacing: 0.3px;
  margin: 1vw;
}

.about_page_text {
  font-size: 1.1vw;
  font-weight: 400;
  margin: 1vw;
}

img.headshot {
  width: 50%;
  margin-right: 20px;
  padding: 3%;
  border-radius: 15px;
}

/* Experience */
.experience_page {
  top: 0;
  padding: 0% 25%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.exp_items {
  flex-direction: column;
}

.exp_item {
  padding: 2% 0%;

}

#Experience > * {
  width: 50%;
}

.exp_page_header {
  font-size: 3.3vw;
  font-weight: 200;
  letter-spacing: 0.3px;
  margin: 1vw;
}

.exp_loc_dates {
  display: flex;
  justify-content: space-between;
  padding: 1% 0%;
}

.exp_loc_dates p {
  font-size: 1.2vw;
  font-family: "Neue Montreal";
  font-weight: 200;
}

.exp_link {
  font-family: "Neue Montreal";
  font-size: 1.8vw;
  margin: 2% 0%;
}

.exp_title {
  font-family: "Neue Montreal";
  font-weight: 400;
  font-size: 1.2vw;
  padding-bottom: 1%;
  font-style: italic;
}

/* Projects */
.projects_page {
  top: 0;
  padding: 0% 25%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.projects_items {
  flex-direction: column;
}

.projects_item {
  padding: 2% 0%;
}

#Projects > * {
  width: 100%;
}

.projects_page_header {
  font-size: 3.3vw;
  font-weight: 200;
  letter-spacing: 0.3px;
  margin: 1vw;
}

.projects_title {
  font-family: "Neue Montreal";
  font-weight: 400;
  font-size: 1.2vw;
  padding-bottom: 1%;
}

.projects_desc {
  font-size: 1.1vw;
  font-weight: 200;
}

#Projects img {
  width: 75%;
  padding: 2%;
}

/* Contact */
.contact_page {
  top: 0;
  padding: 0% 25%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#Contact > * {
  width: 50%;
  text-align: center;
  padding: 1% 0%;
}

#Contact a {
  font-size: 1.1vw;
  padding: 1%;
}

.contact_page_header {
  font-size: 3.3vw;
  font-weight: 200;
  letter-spacing: 0.3px;
  margin: 1vw;
}

/* Resume */
#Resume_Side {
  z-index: 10;
  position: fixed;
  transform: rotate(-90deg);
}

#Resume {
  bottom: 0;
  position: absolute;
}

#Resume::after {
  content: "";
  display: block;
  height: 10vh;
}
